/* Стили верхнего меню */
.nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	height: 50px;
	/*background: #7975a1;*/
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 5%, rgba(95,95,203,1) 67%);
	color: #d4d4d4;

}

.nav a {
	border: 1px solid #d4d4d4;
	color: #d4d4d4;
	padding: 5px;
}

#logo {
	border: none;
}

.active {
	background-color: #eeeeee;
	height: 50px;
	line-height: 50px;
	color: #000;
	text-decoration: none;
}

/* Стили контента */
body {
	background-color: #e7e7e7;
}

#content {
	margin-top: 60px;
	margin-left: 0px;
}

/* Footer */
footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	height: 20px;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 5%, rgba(95,95,203,1) 67%);
	color: #d4d4d4;

}

#example_menu {
	width: 60px;
	position: fixed;
	top: 80px;
	left: 0px;
	height: 70%;
	background: rgba(54,129,255,0.9);
	padding: 5px;
	border-radius: 13px;
	
}


#example_text {
	position: fixed;
	top: 80px;
	left: 80px;
	height: 90%;
	width: 85%;
	padding: 25px;
}

H1 {
	text-align: center;
}

